body {
			background: #d2d2c1 url('fundo.png') fixed;
			font: 16px Arial, Helvetica, sans-serif;}

#principal {
	width: 900px;
}
#menu {background: #c5c5b2;
	padding: 15px
	}

	a {color: #4b566a;
		text-decoration:none;
		font-weight: bold;
		padding: 5px
	}
#conteudo {background-color: #e8e8d9; width: 900px;
		padding: 10px
		}
		.centralizar {text-align: center;}
.texto {
			color: white;
			background: red
		}
		
	h1 {
		color: #828271;
		font-size: 1.2em
	}

	.img-campanha { border: 10px solid #c3c3ae }
