.produtos-itens {
    padding: 10px 0 0 0;
    h4, h6 {
        color: $cor-secundaria;
    }
h6 {
    color:$cor-secundaria;
    font-size: 20px;
    font-weight: bold;
    
    
}    

.produtos-stars {
color: $cor-primaria;
i {
    color: $cor-secundaria;
        }
    }
}